html {
    font-family: 'Roboto', sans-serif;
}

.icons {
    font-size: 3em;
}


main {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    text-align: center;
}

main > .header {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 4.00em;
    font-weight: 600;
}

main > .intro {
    font-size: 1.5em;
    margin: 1.5em;
    font-weight: 100;
}

.row_container {
  display: flex;
  margin-top: 50px;
}

.row_container > div {
  flex: 1;
}
